.spaceWrapper {
    position: relative;
  }
  
  .spaceCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .hero {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: #ffffff;
  }
  
  .heroVideo {
    max-width: 35%;
    max-height: 35%;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;

  }
  
  .heroVideo:hover {
    transform: scale(1.1);
  }
  
  .description {
    font-size: 1.2rem;
    line-height: 1.2;
    color: #ffffff;
    max-width: 60%;
    margin-top: -10px;
    text-align: center;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .description a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
    text-decoration: underline;
  }
  
  .description a:hover {
    color: turquoise; 

  }
  
  .heroButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .heroButton {
    background-color: rgba(17, 58, 80, 0.938);
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;

  }
  
  .heroButton:hover {
    background-color:rgba(14, 36, 48, 0.938);
    transform: scale(1.1);
  }
  
  .heroButton .svg-inline--fa {
    margin-right: 5px;
  }

  .heroHeading {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* margin-bottom: 20px; */
  }
  
  .animatedBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #131313, #0a1111, #1a1a1a);
    background-size: 600% 600%;
    animation: AnimationName 8s ease infinite;
    z-index: -1;
    opacity: 0.7;
  }
  
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* .contactButton {
    position: fixed;
    top: 20px;
    right: 60px;
    background-color: rgba(16, 16, 161, 0.911);
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .contactButton:hover {
    background-color: rgba(13, 13, 26, 1);
  }
   */